In [1]:
print("Hello, World!")

Hello, World!

                                                            Python Syntax

In [2]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [3]:
if 5 > 2:
    print("Five is greater than two!") 
if 5 > 2:
        print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

In [4]:
x = 5
y = "Hello, World!"

                                                            Python Comments

In [5]:
#This is a comment.
print("Hello, World!")

Hello, World!

In [6]:
print("Hello, World!") #This is a comment

Hello, World!

In [7]:
#print("Hello, World!")
print("Cheers, Mate!")

Cheers, Mate!

In [8]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [9]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

                                                            Python Variables

In [10]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [11]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

Sally

In [12]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [13]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [14]:
x = "John"
# is the same as
x = 'John'

In [15]:
a = 4
A = "Sally"
#A will not overwrite a

In [16]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [17]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid decimal literal (2185399839.py, line 1)

In [18]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [19]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [20]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [21]:
x = "Python is awesome"
print(x)

Python is awesome

In [22]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [23]:
x = "Python "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [24]:
x = 5
y = 10
print(x + y)

15

In [25]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
x = 5
y = "John"
print(x, y)

5 John

In [27]:
x = "awesome"

def myfunc():
    print("Python is " + x)

myfunc()

Python is awesome

In [28]:
x = "awesome"

def myfunc():
    x = "fantastic"
    print("Python is " + x)

myfunc()

print("Python is " + x)

Python is fantastic
Python is awesome

In [29]:
def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

In [30]:
x = "awesome"

def myfunc():
    global x
    x = "fantastic"

myfunc()

print("Python is " + x)

Python is fantastic

                                                            Python Data Types

In [31]:
x = 5
print(type(x))

<class 'int'>

                                                                Python Numbers

In [32]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

In [33]:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [34]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [35]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [36]:
x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [37]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [38]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

In [39]:
import random

print(random.randrange(1, 10))

1

In [40]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [41]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

In [42]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

                                                                Strings

In [43]:
print("Hello")
print('Hello')

Hello
Hello

In [44]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [45]:
a = "Hello"
print(a)

Hello

In [46]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [47]:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [48]:
a = "Hello, World!"
print(a[1])

e

In [49]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [50]:
a = "Hello, World!"
print(len(a))

13

In [51]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [52]:
txt = "The best things in life are free!"
if "free" in txt:
    print("Yes, 'free' is present.")

Yes, 'free' is present.

In [53]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [54]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [55]:
b = "Hello, World!"
print(b[2:5])

llo

In [56]:
b = "Hello, World!"
print(b[:5])

Hello

In [57]:
b = "Hello, World!"
print(b[2:])

llo, World!

In [58]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [59]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [60]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [61]:
a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [62]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [63]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

In [64]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [65]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [66]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [67]:
age = 36
txt = f"My name is John, I am {age}"
print(txt)

My name is John, I am 36

In [68]:
price = 59
txt = f"The price is {price} dollars"
print(txt)

The price is 59 dollars

In [69]:
price = 59
txt = f"The price is {price:.2f} dollars"
print(txt)

The price is 59.00 dollars

In [70]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [71]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [72]:
txt = "We are the so-called \"Vikings\" from the north."